/* Geral: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

body {
    font-family: 'Manrope', sans-serif;

    max-width: 1280px;
    margin: 0 auto;
}

h1, h2 {
    letter-spacing: -1px;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

header p {
    font-weight: 800;
}

header span {
    font-weight: 600;
    opacity: 70%;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 40px;
    opacity: 70%;
    font-weight: 500;
    cursor: pointer;
}

header ul li:hover {
    opacity: 100%
}

header .headerButtonOne {
    background: none;
    font-weight: 500;
    margin-right: 10px;
}

header .headerButtonTwo {
    background-color: black;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

header .buttonTwo:hover {
    background-color: #051938;
}

/* Principal: */
main {
    margin: 0 40px;
}

.hero {
    display: flex;
    align-items: center;
    margin: 75px 0;
}

h1 {
    font-size: 72px;
    line-height: 72px;
}

.contentText p {
    font-size: 18px;
    font-weight: 500;
    opacity: 70%;
    width: 80%;
    margin-top: 15px;
}

.heroButtons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.heroButtonOne {
    background-color: black;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    gap: 3px;
}

.heroButtonTwo {
    background-color: white;
    padding: 10px 20px;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    gap: 3px;
}

.heroButtons img {
    width: 20px;
}

.services {
    margin: 75px 0;
}

h2 {
    font-size: 50px;
    font-weight: 800;
}

.title p {
    font-size: 18px;
    font-weight: 500;
    opacity: 70%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.cards  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 350px;
    padding: 20px;
    display: flex;
    align-items: start;
    gap: 10px;
}

.card h4 {
    font-size: 18px;
}

.card p {
    opacity: 70%;
    font-weight: 500;
    margin-top: 10px;
}

.techs p {
    text-align: center;
    margin: 96px 0 40px 0;
    opacity: 70%;
    font-weight: 500;
}

.techsImages {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

.techsImages img {
    width: 55px;
}

.cta {
    background-color: #000000;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 16px;
    margin-top: 70px;
    margin-right: 75px;
    margin-left: 75px;
}

.cta h2 {
    font-size: 60px;
    font-weight: inherit;
}

.cta p {
    font-size: 20px;
    font-weight: 500;
    color: #94a3b8;
}

.cta button {
    padding: 10px 20px;
    border-radius: 4px;
}

footer {
    text-align: center;
    opacity: 70%;
    font-weight: 500;
    margin-bottom: 90px;
}

footer p {
    font-size: 14px;
}

footer span {
    font-size: 12px;
}